/* src/app/valuation‐update/valuation‐update.component.scss */

.nested‐group {
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;

  > * {
    width: 100%;
  }
}

.error {
  color: #f44336;
  margin: 16px 0;
}

.button-group {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.file-upload {
  display: flex;
  flex-direction: column;
}
